streamlit
langchain-community
langchain-openai
langchain-core
langchain-groq
langchain-experimental
pymupdf4llm
faiss-cpu
pandas
tabulate
llama-index
openai
llama-index-experimental
llama-index-core
llama-index-llms-openai
youtube-transcript-api
pytubefix